<div class="dynamicScaffold-row">
  <div class="text-left">
    <a href="new" class="btn btn-outline-primary btn-primary btn-sm"><%= dynamic_scaffold_icon(:add) %> <%= t('dynamic_scaffold.add') %></a>
  </div>
  <%= render 'dynamic_scaffold/save_order'%>
</div>
<div class="dynamicScaffold-row">
  <ul class="resplist resplist-striped">
    <%@manager.list.each do |record|%>
      <li class="resplist-row">
        <div class="resplist-items">
        <%@manager.displays.each do |disp|%>
          <%= content_tag :div, class: classNames('resplist-item', disp.classnames), **disp.html_attributes do%>
            <div class="resplist-label"><%= disp.label record %></div>
            <div class="resplist-value"><%= disp.value record, self %></div>
          <%end%>
        <%end%>
        </div>
        <div class="resplist-footer clearfix">
          <div class="float-right pull-right">
            <div class="btn-group">
              <a href="edit" class="btn btn-primary btn-outline-primary btn-sm"><%= dynamic_scaffold_icon(:edit) %> <%= t('dynamic_scaffold.edit') %></a>
            </div>
            <div class="btn-group">
              <button class="btn btn-outline-secondary btn-default btn-sm">
                <%= dynamic_scaffold_icon(:up) %>
              </button>
              <button class="btn btn-outline-secondary btn-default btn-sm">
                <%= dynamic_scaffold_icon(:down) %>
              </button>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-danger btn-sm">
                <%= dynamic_scaffold_icon(:delete) %>
              </button>
            </div>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
</div>
<div class="dynamicScaffold-row">
  <%= render 'dynamic_scaffold/save_order'%>
</div>