<%= form_with model: @record, url: './create' do |form| %>
  <%@manager.forms.each do |elem|%>
    <% if elem.type? :hidden_field %>
      <%= elem.render(form) %>
    <% else %>
      <div class="form-group">
        <label><%= elem.label(form) %></label>
        <%= elem.render(form, 'form-control') %>
        <%if elem.description?%>
          <small class="form-text text-muted"><%= instance_eval(&elem.description) %></small>
        <%end%>
      </div>
    <% end %>
  <% end %>
  <%= form.button t('dynamic_scaffold.save'), class: 'btn btn-outline-warning btn-warning' %>
<% end %>