<%content_for :after_head do%>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    li {
      padding-left: 20px;
    }
  </style>
<%end%>
<section>
  <h1>Menu</h1>
  <ul>
    <li>
      <h2>Bootstrap 5</h2>
      <ul>
        <li><a href="<%=bootstrap5_countries_path%>">Country</a></li>
        <li><a href="<%=bootstrap5_shops_path%>">Shop</a></li>
      </ul>
    </li>
    <li>
      <h2>Bootstrap 4</h2>
      <ul>
        <li><a href="<%=controls_master_countries_path%>">Country</a></li>
        <li><a href="<%=controls_master_shops_path%>">Shop</a></li>
        <li>
          <h3>User</h3>
          <ul>
            <%User.roles.each do |role, _v|%>
            <li><a href="<%=controls_master_users_path role%>"><%=role.titleize%></a></li>
            <%end%>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h2>Bootstrap 3</h2>
      <ul>
        <li><a href="<%=bootstrap3_countries_path%>">Country</a></li>
      </ul>
    </li>
  </ul>
</section>
