<%= form_with method: method, model: @record, url: url, local: true do |form| %>
  <%-dynamic_scaffold.form.items.each do |elem|-%>
    <% if elem.needs_rendering?(self)%>
      <% if !elem.label? && elem.type?(:hidden_field) %>
        <%= elem.render(self, form) %>
      <% else %>
        <%- errors = elem.errors(@record) -%>
        <div class="<%= class_names('form-group', 'has-error': errors.present?) %>">
          <label><%= elem.proxy_field.label %></label>
          <div class="clearfix">
            <%- elem.insert(:before).each do |block| -%>
              <%= self.instance_exec(@record, &block) %>
            <%-end-%>
            <% if elem.type? :collection_check_boxes %>
              <%= elem.render(self, form) do |cb|%>
                <div class="form-check checkbox">
                  <%= cb.label class: 'form-check-label' do%>
                    <%= cb.check_box class: 'form-check-input' %> <%= cb.text %> 
                  <%end%>
                </div>
              <%end%>
            <% elsif elem.type? :collection_radio_buttons %>
              <%= elem.render(self, form) do |cb|%>
                <div class="form-check radio">
                  <%= cb.label class: 'form-check-label' do%>
                    <%= cb.radio_button class: 'form-check-input' %> <%= cb.text %> 
                  <%end%>
                </div>
              <%end%>
            <% elsif elem.type? :carrierwave_image %>
              <%- image = form.object.public_send(elem.name) -%>
              <div class="js-ds-image-wrapper">
                <div class="js-ds-image-preview panel panel-default card mb-1">
                  <% if elem.options[:removable] %>
                  <div class="text-right panel-heading card-header">
                    <button type="button" class="btn btn-outline-danger btn-danger btn-sm js-ds-image-remove">
                      <%= dynamic_scaffold_icon :times %>
                    </button>
                  </div>
                  <% end %>
                  <div class="panel-body card-body">
                    <div style="<%= elem.preview_image_style %>">
                      <img src="<%= image.url if image.file.present? %>" alt="" class="img-responsive img-fluid">
                    </div>
                  </div>
                </div>
                <%= form.hidden_field "remove_#{elem.name}", value: "1", disabled:"disabled", class: 'js-ds-image-remove-flag' if elem.options[:removable]%>
                <%= elem.render(self, form, 'form-control-file js-ds-image') do |attr|%>
                  <%= form.file_field(elem.name, attr) %>
                <%end%>
              </div>
            <% else %>
              <%= elem.render(self, form, class_names('form-control', {'is-invalid': errors.present?})) %>
            <% end %>
            <%- elem.insert(:after).each do |block| -%>
              <%= self.instance_exec(@record, &block) %>
            <%-end-%>
          </div>
          <%- if errors.present? -%>
            <ul class="list-unstyled ds-error-message">
              <% errors.each do |err|%>
              <li><%= dynamic_scaffold_icon :error %> <%= err %></li>
              <%end%>
            </ul>
          <%- end -%>
          <%if elem.notes?%>
            <div class="form-text text-muted"><%= elem.render_notes(form.object, self) %></div>
          <%end%>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= link_to dynamic_scaffold_path(:index, request_queries), class: 'btn btn-outline-secondary btn-default back' do%>
      <%= dynamic_scaffold_icon :back %> <%= t('dynamic_scaffold.button.back') %>
    <%end%>
    <button type="submit" class="btn btn-outline-warning btn-warning">
      <%= dynamic_scaffold_icon :save %> <%= t('dynamic_scaffold.button.save') %>
    </a>
  </div>
<% end %>