<%= form_with method: method, model: @record, url: url, local: true, class: 'ds-form' do |form| %>
  <%-dynamic_scaffold.form.items.each do |elem|-%>
    <%= render 'dynamic_scaffold/bootstrap/form/row', form: form, elem: elem, depth: 0 %>
  <% end %>
  <div>
    <%= link_to dynamic_scaffold_path(:index, request_queries), class: 'btn btn-outline-secondary btn-default back' do%>
      <%= dynamic_scaffold_icon :back %> <%= t('dynamic_scaffold.button.back') %>
    <%end%>
    <button type="submit" class="btn btn-outline-warning btn-warning">
      <%= dynamic_scaffold_icon :save %> <%= t('dynamic_scaffold.button.save') %>
    </a>
  </div>
<% end %>