<% provide :dynamic_scaffold_title, t('dynamic_scaffold.title.list', model: dynamic_scaffold.model.model_name.human) -%>
<%unless flash[:dynamic_scaffold_danger].nil? -%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:dynamic_scaffold_danger] %>
  </div>
<%end%>
<%= form_with method: :patch, url: dynamic_scaffold_path(:sort_or_destroy) do%>
<div class="dynamicScaffold-row">
  <%= link_to dynamic_scaffold_path(:new), class: 'btn btn-outline-primary btn-primary btn-sm' do%>
    <%= dynamic_scaffold_icon(:add) %> <%= t('dynamic_scaffold.buttons.add') %>
  <%end%>
</div>
<%= render 'dynamic_scaffold/bootstrap/pagination' %>
<div class="dynamicScaffold-row">
  <%= render 'dynamic_scaffold/bootstrap/save_order'%>
</div>
<div class="dynamicScaffold-row">
  <% if @records.empty? %>
    <p class="lead"><%= t('dynamic_scaffold.messages.no_records', model: dynamic_scaffold.model.model_name.human) %></p>
  <% else %>
    <ul class="resplist resplist-striped">
      <%@records.each do |record|%>
        <li class="resplist-row dynamicScaffoldJs-item-row">
          <div class="resplist-items">
          <%dynamic_scaffold.list.items.each do |disp|%>
            <%= content_tag :div, class: classNames('resplist-item', disp.classnames), **disp.html_attributes do%>
              <div class="resplist-label"><%= disp.label %></div>
              <div class="resplist-value"><%= disp.value self, record %></div>
            <%end%>
          <%end%>
          </div>
          <div class="resplist-footer clearfix">
            <div class="float-right pull-right">
              <div class="btn-group">
                <% page_param_name = dynamic_scaffold.list.pagination ? dynamic_scaffold.list.pagination.param_name : nil %>
                <%= link_to dynamic_scaffold_path(:edit, key: primary_key_value(record), page: params[page_param_name]), class: 'btn btn-primary btn-outline-primary btn-sm' do %>
                  <%= dynamic_scaffold_icon(:edit) %> <%= t('dynamic_scaffold.buttons.edit') %>
                <%end%>
              </div>
              <% if dynamic_scaffold.list.sorter %>
              <%[*dynamic_scaffold.model.primary_key].each do |pkey|%>
                <input type="hidden" name="pkeys[][<%=pkey%>]" value="<%= record[pkey] %>">
              <%end%>
              <div class="btn-group">
                <button class="btn btn-outline-secondary btn-default btn-sm dynamicScaffoldJs-sorter-top">
                  <%= dynamic_scaffold_icon(:top) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm dynamicScaffoldJs-sorter-up">
                  <%= dynamic_scaffold_icon(:up) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm dynamicScaffoldJs-sorter-down">
                  <%= dynamic_scaffold_icon(:down) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm dynamicScaffoldJs-sorter-bottom">
                  <%= dynamic_scaffold_icon(:bottom) %>
                </button>
              </div>
              <% end %>
              <div class="btn-group">
                <button data-confirm-message="<%= t('dynamic_scaffold.messages.destroy_confirm') %>" type="submit" class="btn btn-danger btn-sm dynamicScaffoldJs-destory" name="submit_destroy" value="<%= primary_key_value(record).to_json %>">
                  <%= dynamic_scaffold_icon(:delete) %>
                </button>
              </div>
            </div>
          </div>
        </li>
      <%end%>
    </ul>
  <% end %>
</div>
<div class="dynamicScaffold-row">
  <%= render 'dynamic_scaffold/bootstrap/save_order'%>
</div>
<%= render 'dynamic_scaffold/bootstrap/pagination' %>
<% end %>