<%unless flash[:dynamic_scaffold_danger].nil? -%>
  <div class="alert alert-danger" role="alert">
    <%== flash[:dynamic_scaffold_danger] %>
  </div>
<%end%>
<input type="hidden" class="authenticity_param_name" value="<%= request_forgery_protection_token %>">
<%= form_with method: :patch, url: dynamic_scaffold_path(:sort, request_queries(dynamic_scaffold.list.page_param_name)), local: true do%>
<%- if dynamic_scaffold.list.add_button -%>
  <div class="ds-row">
    <%= link_to dynamic_scaffold_path(:new, request_queries), class: class_names('btn btn-outline-primary btn-primary btn-sm spec-ds-add', 'disabled': dynamic_scaffold.max_count?(@count)) do%>
      <%= dynamic_scaffold_icon(:add) %> <%= t('dynamic_scaffold.button.add') %>
      <%- unless dynamic_scaffold.max_count.nil? -%>
        &nbsp;<span class="badge badge-light">
          <%= @count %>&nbsp;/&nbsp;<%= dynamic_scaffold.max_count%>
        </span>
      <% end %>
    <%end%>
  </div>
<%- end -%>
<%= render 'dynamic_scaffold/bootstrap/pagination' %>
<div class="ds-row">
  <%= render 'dynamic_scaffold/bootstrap/save_order'%>
</div>
<div class="ds-row">
  <% if @records.empty? %>
    <p class="lead"><%= t('dynamic_scaffold.message.no_records', model: dynamic_scaffold.title.name) %></p>
  <% else %>
    <ul
      class="ds-list ds-list-striped js-ds-item-wrapper"
      data-confirm-ok="<%= t('dynamic_scaffold.message.confirm_ok') %>"
      data-confirm-ok-class="btn btn-danger btn-sm"
      data-confirm-cancel="<%= t('dynamic_scaffold.message.confirm_cancel') %>"
      data-confirm-cancel-class="btn btn-outline-secondary btn-default btn-sm"
    >
      <%@records.each_with_index do |record, index|%>
        <li class="<%= class_names('ds-list-row js-ds-list-row', dynamic_scaffold.list.row_class(record)) %>">
          <% if dynamic_scaffold.list.title? %>
            <div class="ds-list-heading"><%= dynamic_scaffold.list.title(record) %></div>
          <% end %>
          <div class="ds-list-items">
          <%dynamic_scaffold.list.items.each do |disp|%>
            <%- if disp.show?(self, record) -%>
              <%= content_tag :div, class: class_names('ds-list-item', disp.classnames), **disp.html_attributes do%>
                <div class="ds-list-label"><%= disp.label %></div>
                <div class="ds-list-value"><%= disp.value self, record %></div>
              <%end%>
            <% end %>
          <%end%>
          </div>
          <div class="ds-list-footer clearfix">
            <div class="float-right pull-right">
              <div class="btn-group">
                <%= link_to dynamic_scaffold_path(:edit, request_queries.merge(id: record[record.class.primary_key])), class: 'btn btn-primary btn-outline-primary btn-sm spec-ds-edit' do %>
                  <%= dynamic_scaffold_icon(:edit) %> <%= t('dynamic_scaffold.button.edit') %>
                <%end%>
              </div>
              <% if dynamic_scaffold.list.sorter %>
              <%[*dynamic_scaffold.model.primary_key].each do |pkey|%>
                <input type="hidden" name="pkeys[][<%=pkey%>]" value="<%= record[pkey] %>">
              <%end%>
              <div class="btn-group">
                <button class="btn btn-outline-secondary btn-default btn-sm js-ds-sorter-top">
                  <%= dynamic_scaffold_icon(:top) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm js-ds-sorter-up">
                  <%= dynamic_scaffold_icon(:up) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm js-ds-sorter-down">
                  <%= dynamic_scaffold_icon(:down) %>
                </button>
                <button class="btn btn-outline-secondary btn-default btn-sm js-ds-sorter-bottom">
                  <%= dynamic_scaffold_icon(:bottom) %>
                </button>
              </div>
              <% end %>
              <div class="btn-group">
                <button
                  data-action="<%= dynamic_scaffold_path(:update, request_queries(dynamic_scaffold.list.page_param_name).merge(id: record[record.class.primary_key])) %>"
                  data-confirm-message="<%= t('dynamic_scaffold.message.destroy_confirm') %>"
                  class="btn btn-danger btn-sm js-ds-destory"
                >
                  <%= dynamic_scaffold_icon(:delete) %>
                </button>
              </div>
            </div>
          </div>
        </li>
      <%end%>
    </ul>
  <% end %>
</div>
<div class="ds-row">
  <%= render 'dynamic_scaffold/bootstrap/save_order'%>
</div>
<%= render 'dynamic_scaffold/bootstrap/pagination' %>
<% end %>